<html lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{#    <meta http-equiv="content-type" content="text/html; charset=UTF-8">#}
    <title>Zapotrzebowanie</title>
</head>
<body>
    <h3>Zapotrzebowanie na zajęcia dydaktyczne</h3>
    <table>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Rok studiów:</td>
            <td>{{ demand.schoolYear }}</td>
        </tr>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Wydział:</td>
            <td>{{ demand.department }}</td>
        </tr>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Grupa:</td>
            <td>{{ demand.group.name }}</td>
        </tr>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Rodzaj grupy:</td>
            <td>{{ demand.group.type }}</td>
        </tr>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Semestr:</td>
            <td>{{ demand.semester }}</td>
        </tr>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Przedmiot:</td>
            <td>{{ demand.subject.name }}</td>
        </tr>
        <tr>
            <td class="item"><i class="icon s7-id"></i> Instytut:</td>
            <td>{{ demand.institute }}</td>
        </tr>
    </table>

    <h3>Zestawy zajęć</h3>
    {% for lectureSet in demand.lectureSets %}
        <table>
            <tr>
                <td class="item"><i class="icon s7-id"></i> Zestaw zajęć:</td>
                <td>{{ lectureSet.translatedLectureType }}</td>
            </tr>
            <tr>
                <td class="item"><i class="icon s7-id"></i> Prowadzący:</td>
                <td>{{ lectureSet.lecturer ? lectureSet.lecturer.username : ''}}</td>
            </tr>
            <tr>
                <td class="item"><i class="icon s7-id"></i> Notatki:</td>
                <td>{{ lectureSet.notes }}</td>
            </tr>
        </table>

        <p>Zaproponowany harmonogram:</p>
        <ul>
            {% for allocatedWeek in lectureSet.allocatedWeeks %}
                <p>{{ allocatedWeek.number }} Tydzień</p>
                <li>
                    Ilość godzin: {{ allocatedWeek.allocatedHours }}
                </li>
                {% if allocatedWeek.place %}
                    <li>
                        Budynek: {{ allocatedWeek.place.building }}
                    </li>
                    <li>
                        Sala: {{ allocatedWeek.place.room }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
